
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffe7de;
    color: #562135;
    text-align: center;
    padding: 20px;
}

h1 {
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #562135;
}

h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
    color: #c3892e;
}

header, main, footer {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    background-color: #fcd1d7;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #562135;
    font-weight: bold;
}

nav ul li a {
    text-decoration: none;
    color: #562135;
    font-weight: bold;
}

nav ul li a:hover {
    color: #e9b1cd;
}

.logo-imagem {
    width: 150px;
    list-style-type: none;
    display: inline;
    text-align: center;
}

.header {
    width: 100%;
    height: auto;
}

section {
    margin: 20px 0;
}

section img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.produto img {
    max-width: 150px;
    height: auto;
    margin-bottom: 10px;
}

.personagem img {
    max-width: 150px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

address {
    font-style: normal;
    line-height: 1.6;
    margin: 20px 0;
}

footer {
    background-color: #562135;
    color: #ffe7de;
    padding: 10px;
    border-radius: 8px;
}

footer a {
    color: #ffe7de;
    text-decoration: none;
}

footer a:hover {
    color: #e9b1cd;
}

#criadoras, #personagens-principais {
    text-align: left;
}

.produto, .personagem {
    display: inline-block;
    width: 20%;
    vertical-align: top;
    margin: 0 1%;
    box-sizing: border-box;
}

.produto:hover, .personagem:hover {
    background-color: #e9b1cd;
    transition: background-color 0.3s ease;
    border-radius: 8px;
    padding: 10px;
}
#criadoras img {
    vertical-align: middle;
    display: block;
    margin: 0 auto;
}

#criadoras .criadora {
    display: inline-block;
    width: 30%;
    margin: 0 1%;
    vertical-align: top;
    text-align: center;
}