
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffe7de;
    color: #562135;
    text-align: center;
    padding: 20px;
}

h1 {
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #562135;
}

h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
    color: #c3892e;
}

header, main, footer {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    background-color: #fcd1d7;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #562135;
    font-weight: bold;
}

nav ul li a {
    text-decoration: none;
    color: #562135;
    font-weight: bold;
}

nav ul li a:hover {
    color: #e9b1cd;
}