@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300;400&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #ffffff;
    color: #562135;
    text-align: center;
}

h1 {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 50px;
    color: #562135;
    margin: 0;
}

h2 {
    font-family: 'Roboto', sans-serif;
    color: #901f3b;
    font-size: 40px;
    text-decoration: underline #d3005b;
    margin: 2;
}

h3 {
    font-family: 'Roboto', sans-serif;
    color: #541f1f;
}

header {
    background-color: #ffc2c2;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.logo-imagem {
    width: 100px;
}

header h1 {
    font-size: 80px;
    margin: 0;
}

main {
    background-color: #fcd1d7;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

main p {
    font-size: 17px;
    font-style: normal;
    line-height: 1.6;
    margin: 15px 0;
    color: #562135;
}

.menu-navegacao, footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.menu-navegacao li, footer ul li {
    margin-right: 15px;
}

.menu-navegacao li:last-child, footer ul li:last-child {
    margin-right: 0;
}

.botao-menu {
    text-decoration: none;
    color: #ffffff;
    background-color: #562135;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.botao-menu:hover {
    background-color: #c3829e;
}

section img, .produto img, .personagem img {
    max-width: 100%;
    height: auto;
}

.produto img {
    max-width: 200px;
}

.personagem img {
    max-width: 150px;
    border-radius: 50%;
}

#criadoras img {
    max-width: 150px;
    display: inline-block;
}

#criadoras ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#criadoras li {
    text-align: center;
    width: 150px;
}

address {
    font-style: normal;
    font-size: 18px;
    line-height: 1.6;
    margin: 15px 0;
    color: #901f3b;
    text-align: center;
}

.depoimentos {
    background-color: #ffe7de;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.depoimentos h2 {
    margin-bottom: 20px;
}

.depoimento {
    margin-bottom: 20px;
}

.depoimento p {
    font-style: italic;
    color: #562135;
    font-size: 18px;
}

.depoimento cite {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #901f3b;
}

footer {
    background-color: #562135;
    max-width: 1200px;
    color: #ffe7de;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer p {
    font-size: 17px;
    color: #ffe7de;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

footer ul li {
    margin-right: 15px;
}

footer ul li:last-child {
    margin-right: 0;
}

footer ul li a, footer a {
    color: #ffe7de;
    text-decoration: none;
    font-weight: bold;
}

footer ul li a:hover, footer a:hover {
    color: #e9b1cd;
}

.produto, .personagem  {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin: 0 1%;
    box-sizing: border-box;
}

.produto:hover, .personagem:hover, .streaming-logo:hover {
    background-color: #e9b1cd;
    transition: background-color 0.3s ease;
    border-radius: 8px;
    padding: 10px;
}

.loja {
    max-width: 45%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 20px;
}

.loja:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}