body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #fcd1d7;
  }
  
  h1 {
    font-size: 36px;
  }
  
  
  
