body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
}

    #fcd1d7;
	#562135;
	#c3829e;
    #e9b1cd;
    #ffe7de;
  
